{% extends 'base.html.twig' %}

{% block title %}Edit Potion{% endblock %}

{% block body %}
    <h1>Edit Potion</h1>

    {{ include('potion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('potion_index') }}">back to list</a>

    {{ include('potion/_delete_form.html.twig') }}
{% endblock %}
